@page
@model eStoreClient.Pages.Orders.EditModel

@{
    ViewData["Title"] = "Edit Order";
}

<h1>Edit</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EditOrderForm.ShippedDate" class="control-label"></label>
                <input asp-for="EditOrderForm.ShippedDate" class="form-control" />
                <span asp-validation-for="EditOrderForm.ShippedDate" class="text-danger"></span>
                <div class="text-danger">@Model.Message</div>
            </div>
            <div class="form-group">
                <label asp-for="EditOrderForm.Freight" class="control-label"></label>
                <input asp-for="EditOrderForm.Freight" class="form-control" />
                <span asp-validation-for="EditOrderForm.Freight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" name="orderId" value="@Model.OrderId" />
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Details" asp-route-order-id="@Model.OrderId">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
