@page
@using eStoreClient.Constants
@model eStoreClient.Pages.Carts.EditModel
@{
}
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="CartDetail.Quantity" class="control-label"></label>
                <input asp-for="CartDetail.Quantity" type="number" class="form-control" />
                <span asp-validation-for="CartDetail.Quantity" class="text-danger"></span>
                <span class="text-danger">@Model.QuantityMessage</span>
            </div>
            @if (Model.IsStaff)
            {
                <div class="form-group">
                    <label asp-for="CartDetail.Discount" class="control-label"></label>
                    <input asp-for="CartDetail.Discount" type="number" class="form-control" />
                    <span asp-validation-for="CartDetail.Discount" class="text-danger"></span>
                </div>
            }
            else
            {
                <input type="hidden" asp-for="CartDetail.Discount" value="0" />
            }
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<a asp-page="@PageRoute.Cart">Back</a>